# Environment Variables for MineGuard

# Blockchain Configuration
EXPO_PUBLIC_ETHEREUM_RPC_URL=http://localhost:8545
EXPO_PUBLIC_CHAIN_ID=1337
EXPO_PUBLIC_CONTRACT_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
EXPO_PUBLIC_TOKEN_CONTRACT_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512

# IPFS Configuration (Pinata)
EXPO_PUBLIC_PINATA_API_KEY=8f33909f84df67989169
EXPO_PUBLIC_PINATA_SECRET_KEY=bddfc478b7c67b1df36031d3098bdc5b4964d81997ad5c200f73457a78397f80
EXPO_PUBLIC_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJjMGUyMGJiNi0xZDE4LTQ3ZmUtYTQyMy0yOGEzMjEyODczN2YiLCJlbWFpbCI6ImRhcmtnb2RzMTczQGdtYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiI4ZjMzOTA5Zjg0ZGY2Nzk4OTE2OSIsInNjb3BlZEtleVNlY3JldCI6ImJkZGZjNDc4YjdjNjdiMWRmMzYwMzFkMzA5OGJkYzViNDk2NGQ4MTk5N2FkNWMyMDBmNzM0NTdhNzgzOTdmODAiLCJleHAiOjE3OTU3MTc0NDh9.hwcr7sNmSG_KTB9jkdSX-xGHceP8IikVqn6C26nC22Y


# Backend API
EXPO_PUBLIC_BACKEND_API_URL=http://localhost:3001

# Network
EXPO_PUBLIC_NETWORK=local
